/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* New: Use flexbox layout */
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.625em;
    display: flex; /* New: Use flexbox layout */
    flex-direction: column; /* New: Align items vertically */
    width: 20%; /* New: Set sidebar width */
    padding-right: 1.25px; /* New: Add some padding */
}

.logo img {
    max-width: 6.25em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.Field_Input {
    margin-bottom: 0.625em;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .logo img {
        max-width: 5em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.125em;
    }

    .Field_Input {
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 576px) {
    .logo img {
        max-width: 3.75em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1em;
    }

    .Field_Input {
        margin-bottom: 0.375em;
    }
}

html{
  background-color: #222426;
}

fieldset{
  background-color: #2E4760;
}

h1, h2, h3, p, li{
 color:white;
} 

#sidebar{
  float: left;
  width: 20%;
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
  background-color: #2E4760;
  bottom: 100%;
  margin: 0;
}

#logo{
  width: 4em;
}
