.audiowide{
  font-family: "Audiowide", sans-serif;
}

/* Global styles */
html{
  background-color: #222426;
}
body{
  font-size: 1.2em;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1{
  padding: 0.25em;
  color: #0d6ea3;
  font-size: 4em;
  padding-bottom: 0.1em;
}
p{
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
  font-size: 1em;
}
li{
  padding-bottom: 0.5em;
  color: #fff;
}
header{
  background-color: #333;
  color: #fff;
  padding: 1em;
  width: 100%;
  height: 8em;;
  margin-bottom: 2.5em;;
}
/*Making the links a different color so that they know they are links*/
a{
  color:#1a828b;
}
.info{
  padding-left: 2em;
}
/*Header */
/*Logo Customization*/
#logo{
  width: 6em;
  padding-left: 1em;
  position: relative;
  right: 1em;
}
/*NO JS*/
.burger {
  width: 0;
}
.bar1, .bar2, .bar3{
  width: 0;
}
/*HAS JS*/
/*h1 in header*/
.hasjs .name{
  vertical-align: text-top;
  width: 60%;
  position: relative;
  left: 2.6em;
  top: -1.5em;
}
/*Links to Registration*/
.hasjs #account p{
font-size: 2em;
}
.hasjs #account{
  width: 20%;
  position: relative;
  left: 41.5em;
  top: -10em;
}
/*Moves nav links out of view*/
.hasjs #pages{
  transition: none;
  opacity: 0;
  position: absolute;
  top: auto;
  left: -50%;
}
/*The Burger Menu*/
.hasjs .burger{
  width: 4em;
  height: 4em;
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 0.5em;
  top: -1em;
  padding-right: 1em;
}
/*Bars in the burger*/
.hasjs .bar1, .hasjs .bar2, .hasjs .bar3{
  width: 100%;
  height: 0.5em;
  background-color: black;
  margin: 0.7em;
  transition: 0.4s;
}
/*How Bars will look after being clicked*/
.change .bar1{
  transform: translate(0, 0.5em) rotate(-45deg);
}
.change .bar2{opacity: 0;}
.change .bar3{
  transform: translate(0, -1.7em) rotate(45deg);
}
/*Naviagtion after burger changed*/
.hasjs .change #pages{
  width: 75%;
  opacity: 100%;
  left: 0;
  height: auto;
  top: 10em;
  background-color: black;
  z-index: 100;
}
.hasjs #down .change #pages{
  height: auto;
}
#down .change #pages li{
  padding: 1.75em;
  font-size: 2.25em;
}
.change #pages li{
  padding: 1.6em;
  font-size: 2em;
}
/*Code for when mouse is over nav*/
.change #pages li:hover{
  background-color:#222426;
}
/*Centering h1 in index to the middle*/
.info h1{
  text-align: center;
}
.info p{
  padding-bottom: 5em;
  padding-top: 2.5em;
  line-height: 4em;
}
#downloads{
  position: relative;
  bottom: 0.5em;
}
.warning h2{
  width: fit-content;
  background-color: yellow;
  margin-bottom: 1em;
  margin-top: .5em;
}
.warning p{
  line-height: 2em;
  margin-bottom: 2em;
}
/*Code for button in index*/
#toDownload{
  color: #fff;
  background-color: #0d6ea3;
  border: none;
  padding: 1em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  position: relative;
  width: 75%;
  font-size: 2.5em;
  left: 15%;
}
#windows{
  color: #fff;
  background-color: #2391cc;
  border: none;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  position: relative;
  width: 75%;
  font-size: 2.5em;
  left: 15%;
}
#macOS{
  color: #fff;
  background-color: #738791;
  border: none;
  padding: 1em;
  margin-bottom: 1.5em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  position: relative;
  width: 75%;
  font-size: 2.5em;
  left: 15%;
}
#account p{
  font-size: 2em;
}

/*Registration Page*/
fieldset{
  background-color: #2E4760;
  width: 100%;
  border-color: #0d6ea3;
}
.Field_Input {
  margin-top: 2em;
}
label{
  font-size: 2.5em;
  margin-right: .25em;
}
input{
  font-size: 2.25em;
}
fieldset h2{
  font-size: 4em;
}
#email input{
  position: relative;
  left: 0.25em;
}
#username input{
  position: relative;
  left: 3.2em;
}
#password input{
  position: relative;
  left: 3.25em;
}
#checkbox input{
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}
/*Button to Register*/
.newUser{
  margin-top: 2em;
}
#register{
  color: #fff;
  background-color: #0d6ea3;
  border: none;
  padding: 1em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  position: relative;
  width: 50%;
  font-size: 2em;
  left: 25%;
  margin-bottom: 0.5em;
}